html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
[data-typography] {
  font-family: var(--typography-font-family);
  font-style: var(--typography-font-style);
  font-size: var(--typography-font-size);
  line-height: var(--typography-line-height);
  letter-spacing: var(--typography-letter-spacing);
  text-transform: var(--typography-text-transform);
}
